<p>Dear {{firstname}},</p>

<p>
  We are pleased to inform you that your eligibility to apply for the Author
  Community has been reinstated.
</p>

<p>
  You are now welcome to submit a new application and continue your journey with
  LearnToGrow.
</p>

<p>
  We kindly remind you to adhere to our community guidelines going forward, as
  repeated violations may result in a permanent block from the program.
</p>

<p>
  You can review our full community standards and terms of use at the bottom of
  this email</p>

<p>
  We're looking forward to seeing your future contributions and wish you the
  best in your application process.
</p>

<p>
  Best regards,<br />
  Your LearnToGrow Team
</p>