<p>Dear {{firstname}},</p>

<p>
  We regret to inform you that your application to join our Author Community has
  been blocked. This decision was made after careful evaluation of the details
  you provided.
</p>

<p>
  Unfortunately, certain aspects of your behavior did not align with our
  community guidelines. Therefore, you have been disqualified from becoming an
  author on our platform.
</p>

<p>
  The responsible moderator handling your case has provided the following
  reason:
</p>

<p class='highlight'>
  {{reason}}
</p>

<p>
  If you have any questions or wish to appeal this decision, please contact us
  through our official support system:<br />
  <a href='{{LINK_SUPPORT_SYSTEM}}'>{{LINK_SUPPORT_SYSTEM}}</a>
</p>

<p>
  We appreciate your interest in contributing to LearnToGrow and encourage you
  to reapply in the future, should your circumstances or approach change in
  alignment with our values.
</p>

<p>
  Best regards,<br />
  Your LearnToGrow Team
</p>