<p>Dear {{firstname}},</p>

<p>Thank you for your interest in joining our Author Community.</p>

<p>After a thorough review of your application, we regret to inform you that we
  are currently unable to accept your request.</p>

<p>The responsible team member has provided why we made that decision:</p>

<div class='highlight'>
  {{reason}}
</div>

<p>This decision does not necessarily reflect on your skills or potential. In
  some cases, it may simply be due to a mismatch with our current content
  direction, community needs, or editorial standards.</p>

<p>If you would like more information or have further questions, feel free to
  contact us. We're happy to help and encourage you to apply again in the
  future.</p>

<p>Best regards,<br />
  Your LearnToGrow Team</p>