<p>Dear {{firstname}} {{lastname}},</p>

<p>We are pleased to inform you that your application to join our Author
  Community has been accepted. Congratulations and welcome aboard!</p>

<p>We're excited to see your contributions and look forward to your unique
  perspective enriching our platform. Your voice matters here.</p>

<p><strong>Please note:</strong><br />
  By publishing your first article, you agree to our platform's
  <a href='{{termsOfUseUrl}}'>Terms of Use</a>. These terms grant us the right
  to moderate content to ensure it aligns with our community standards and legal
  guidelines.</p>

<p>We do not tolerate illegal, harmful, or inappropriate content. For full
  details on what is permitted and how moderation is handled, please refer to
  our
  <a href='{{termsAndConditionsUrl}}'>Terms and Conditions</a>.</p>{{!  noch unbekannt was das sein soll}}

<p>If you have any questions or need assistance, feel free to reach out to our
  support team at any time.</p>

<p>Best regards,<br /> Your LearnToGrow Team</p>