<p>Welcome to the staff team at LearnToGrow!</p>

<p>We are excited to inform you that you are now part of our team.
  <br />
  To access the admin panel, append
  <code>/admin</code>
  to the homepage URL.
</p>

<p>The development team intentionally left out any buttons or links to the admin
  panel from the regular user interface.
  <br />
  Please note: once you access the panel, your session will remain active until
  it ends — this is for security reasons.
</p>

<p class='highlight'>You are now logged in as
  <strong>{{role}}: {{username}}</strong></p>

<p>We look forward to your contributions and hope you enjoy working with us.</p>

<p>If you have any questions, feel free to contact us at
  <a href='mailto:{{systemmail}}'>support</a>.
</p>

<p>Best regards,</p>
<p>The LearnToGrow Team</p>