<p>In first a big THANK YOU for your feedback, {{username}}!</p>

<p>Every feedback is importend to us and helps us to improve our service, also
  is every feedback answered by a staff Member of LearnToGrow.
</p>

<p>my name is {{firstname}}, <br />{{content}}</p>

<p>Feel free to send us more feedback, if you have any questions or suggestions.</p>

<p>Best regards, {{firstname}} from LearnToGrow</p>