<p>Dear {{username}}, </p>

<p>the password of your account if now reseted, use the link below:</p>
<p>
  <a href='{{resetLink}}'><button class='button'>Reset Password</button></a>
</p>

<p>This link is only valid for 5min, after you have to send a new one</p>

<p>if you accedently hit this button, no problem, you can secured ignore this
  mail.</p>

<p>if that happend without you knowledge, you might change your password for
  safety!</p>
<p>
  that dont mean that someone has access to your account, but better be safe
  than sorry.
</p>

<p>Best regards,
  <br />
  Your LearnToGrow Team
</p>